.buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.button,
.goodBtn,
.neutralBtn,
.badBtn {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}